<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="css/main.css"/>
    <link
      rel="stylesheet"
      type="text/css"
      href="css/epub.css"/>
  </head>
<body>
<%= book['html'] %>
</body>
</html>