<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="css/main.css"/>
    <link
      rel="stylesheet"
      type="text/css"
      href="css/epub.css"/>
  </head>
<body>
  <section>
    <nav epub:type="toc">
      <h1><%= book['title'].gsub(/\w+/) {|word| word.capitalize} %></h1>
    <%= book['epub_toc_html'] %>
    </nav>
  </section>
</body>
</html>